<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <link rel="stylesheet" href="{%static "css/demo.css"%}">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      
    <title></title>
  </head>
  <body>
    <div class="container" align=center>
      <h1>Add movie Informations </h1>
      <form  method="post">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class='btn btn-primary' value="Add movie">
      </form>
        </div>
    </body>
</html>
