<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/demo.css"%}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
        <div class="jumbotron">
           <h1>PVR Movies</h1>
           <p>upto date movies informations </p>
            <a class="btn btn-primary btn-lg"href="/addmovie" roll ="button">Add movies</a>&nbsp&nbsp&nbsp
           <a class="btn btn-primary btn-lg"href="/listmovie" roll ="button">List movies</a>
        </div>
    </div>
  </body>
</html>
