<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/demo.css"%}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>
  <body>
    <h1> Movies informations </h1>
    {%if movie_list%}
     <table>
      <thead>
        <th>Realeased Date</th>
        <th>Movie Name</th>
        <th>Hero</th>
        <th>Heroine</th>
        <th>Rating</th>
     </thead>
     {%for movie in movie_list%}
     <tr>
       <td>{{movie.rdate}}</td>
       <td>{{movie.moviename}}</td>
       <td>{{movie.hero}}</td>
       <td>{{movie.heroine}}</td>
       <td>{{movie.rating}}</td>
     </tr>
     {%endfor%}
     </table>
     {%else%}
     <p>No movie Found</p>
     {%endif%}
   </body>
</html>
